ytvideo {
    clear: both;
}
user agent stylesheet
div {
    display: block;
}
.article {
    border: 3px solid rgb(97, 180, 180);
    margin-left: 13em;
    padding: 1.25em 1.5em 1.5em 1.5em;
    background: rgb(239, 253, 255);
    line-height: 1.6;
    overflow: hidden;
}
body {
    background: rgb(137, 222, 236);
    font-family: fuzzy bubbles;
    font-size: 130% ;
}
.sidebar {
    float: left;
    width: 9em;
    padding: 3px 1.5em 10px 1.3em;
    border: 3px solid rgb(113, 177, 159);
    background: rgb(239, 255, 244);
}
img {
    max-width: 100%;
    /* max-height: 100%; */
}

.mainarticleimage {
    border: 1px solid #c8ccd1;
    background-color: #f0fded;
    overflow: auto;
    line-height: 1.2em;
    padding: 3px;
    text-align: left;
    max-width: 200px;
}